.mainContainer {
    width: 30%;
    padding: 30px 30px 60px;
    background-color: #f1f1f1;
    border: 2px solid #C8C8C8;
    margin: 30px;
}

.calculateButton {
    margin-top: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 100;
    padding: 5px 15px;
    background-color: #3D94F6;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.calculateButton:hover {
    background: #1E62D0;
    border-radius: 10px;
    text-decoration: none;
}